<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
	<appSettings>
		<add key="MunkaKönyvtár1" value="T:\ftp\Osztatlan\1-4+osszesito\Adatok" />
		<add key="MunkaKönyvtár" value="D:\SharpDevelop Projects\Hivatal\Osztatlan\bin\Debug" />
		<add key="Szűrő" value="*2014-08*.csv" />
		<add key="MegyeNév" value="Bács-Kiskun" />
		<add key="ElválasztóJel" value="_" />
		<add key="KörzetSorszám" value="3" />
		<add key="HónapSorszám" value="2" />
		<add key="TípusSorszám" value="1" />
		<add key="Fejléc0" value="Sor típusa;Település sorszám;Községnév;Fekvésnév;Hrsz;Hrsz alátörés;Ingatlan területe;Számított kiosztandó terület;Kérelmezők darabszáma;Tulajdonosok száma;Állami tulajdon megjelölés;Perfeljegyzés darabszáma;Terhek darabszáma;Helyhez köthető terhek darabszáma;Tul3 szövegek darabszáma;Széljegyek darabszáma" />
		<add key="Fejléc1" value="Sor típusa;Település sorszám;Községnév;Fekvésnév;Hrsz;Hrsz alátörés;Ingatlan területe;Számított kiosztandó terület;Kérelmezők darabszáma;Tulajdonosok száma;Állami tulajdon megjelölés;Perfeljegyzés darabszáma;Terhek darabszáma;Helyhez köthető terhek darabszáma;Tul3 szövegek darabszáma;Széljegyek darabszáma;Hivatalnév;Eljárás státusz" />
		<add key="Fejléc" value="Sor típusa;Település sorszám;Községnév;Fekvésnév;Hrsz;Hrsz alátörés;Ingatlan területe;Számított kiosztandó terület;Kérelmezők darabszáma;Tulajdonosok száma;Állami tulajdon megjelölés;Perfeljegyzés darabszáma;Terhek darabszáma;Helyhez köthető terhek darabszáma;Tul3 szövegek darabszáma;Széljegyek darabszáma;Hivatalnév;Eljárás státusz;Kérelmezett össz.tul.hányad számláló;Kérelmezett össz.tul.hányad nevező" />
	</appSettings>
</configuration>
